 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

body {
  background-color: rgb(53, 88, 140);
}
.d_flex {
  display: flex;
  flex-direction: column;
}
.box {
  height: auto;
  width: 600px;
  margin: auto;
  margin-top: 10rem;
  background-color: rgb(49, 177, 154);
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 1px 1px grey;
  align-items: center;
}
.box h1 {
  color: white;
  text-shadow: 1px 1px grey;
  text-align: center;
}
.box .info {
  width: 50%;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px lightgrey;
  margin: 0.5rem;
}
